.bucket {
    height: 100%;
    width: 90%;
    position: absolute;
    right: 0px;
    background-color: rgb(100, 100, 100);
}
 
.hub-title {
    border:.8vw;
    border-style: solid;
    border-color: black;
    position: absolute;
    right: 3%;
    left: 3%;
    background-color: rgb(164, 63, 63);
    height: 8%;
    top: 1%;
    display: flex;
}

.members {
    border:.8vw;
    border-style: solid;
    border-color: black;
    width: 22%;
    height: 79%;
    position: absolute;
    right: 3%;
    background-color: rgb(164, 63, 63);
    top: 13%
}

.overview {
    border:.8vw;
    border-style: solid;
    border-color: black;
    width: 44%;
    height: 59%;
    position: absolute;
    right: 28%;
    background-color: rgb(164, 63, 63);
    top: 13%
}

.links {
    border:.8vw;
    border-style: solid;
    border-color: black;
    width: 44%;
    height: 15%;
    position: absolute;
    right: 28%;
    background-color: rgb(164, 63, 63);
    top: 77%
}

.schedule {
    border:.8vw;
    border-style: solid;
    border-color: black;
    width: 20%;
    height: 37%;
    position: absolute;
    left: 3%;
    background-color: rgb(164, 63, 63);
    top: 55%
}

.notifications {
    border:.8vw;
    border-style: solid;
    border-color: black;
    width: 20%;
    height: 36%;
    position: absolute;
    left: 3%;
    background-color: rgb(164, 63, 63);
    top: 13%
}

/* starting text css */

.cat-header {
    color: rgb(0, 0, 0);
    text-align: left;
    padding-left: 2%;
    font-size: 1.5vw;
}

.regular-text {
    padding:1%;
    text-align: left;
    font-size: 1vw;
}

.hubs-buttons {
    color:black;
    background-color: black;
}