.span5 {
  font-family: var(--font-zen-kaku-gothic-antique);
  font-size: var(--font-size-17xl);
}
.create-account {
  height: 64px;
  width: 449px;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 100%;
  white-space: pre-wrap;
  display: inline-block;
}
.create-account-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.today-marks-a {
  margin: 0;
}
.today-marks-a-container {
  width: 473px;
  height: 96px;
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  line-height: 160%;
  font-family: var(--font-playfair-display);
  color: var(--secondary-text);
  text-align: left;
  display: flex;
  align-items: center;
}
.sign-in3 {
  height: 20px;
  width: 68px;
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  line-height: 100%;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.main-button3 {
  cursor: pointer;
  border: none;
  padding: var(--padding-base);
  background-color: var(--red-gradient);
  align-self: stretch;
  border-radius: var(--br-xs);
  background: linear-gradient(180deg, #720d17, #be2722);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.button-instance {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-base);
  gap: var(--gap-2xs);
}

.input-label1 {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  z-index: 1;
  margin-left: -227px;
}
.main-manager {
  height: 0px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 148px;
}
.or-text {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.or {
  height: 16px;
  width: 17px;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 100%;
  display: inline-block;
}
.line-frame1 {
  width: 422px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 80px var(--padding-12xs) var(--padding-5xs) 0px;
  box-sizing: border-box;
  gap: var(--gap-base);
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
}
.divider-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 0px var(--padding-mini);
  row-gap: 20px;
}
.google-icon2 {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.sign-in-with2 {
  height: 16px;
  width: 159px;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.01em;
  line-height: 100%;
  font-family: var(--font-roboto);
  color: var(--link);
  text-align: left;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.social-buttondesktop2 {
  cursor: pointer;
  border: none;
  padding: var(--padding-xs) var(--padding-xl);
  background-color: var(--color-whitesmoke);
  align-self: stretch;
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  z-index: 1;
}
.input-frame3 {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-34xl);
  gap: var(--gap-smi);
}
.the-stage-managers-book-logo {
  height: 133px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.stage-mgr-book {
  width: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.art-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-xl) 0px var(--padding-4xl);
}
.input-frame2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--primary-text);
  font-family: var(--font-playfair-display);
}

@media screen and (max-width: 975px) {
  .create-account {
    font-size: var(--font-size-3xl);
    line-height: 38px;
  }
  
  .today-marks-a-container {
    font-size: var(--font-size-base);
    line-height: 26px;
  }

  .divider-frame {
    flex-wrap: wrap;
  }
}
