.label {
  width: 41px;
  height: 16px;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 100%;
  display: inline-block;
}
.placeholder {
  border: none;
  outline: none;
  font-family: var(--font-roboto);
  font-size: var(--font-size-base);
  background-color: var(--red-gradient);
  height: 16px;
  width: 239px;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #8897ad;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  display: flex;
  align-items: center;
  white-space: nowrap;
  z-index: 1;
}
.input1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: flex-start;
  padding: 10px 0px 10px 0px;
  position: relative;
}
