.frame-parent {
  width: 530px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 27px;
  box-sizing: border-box;
  min-width: 530px;
  max-width: 100%;
}
.login-art-frame {
  width: 100%; /* Adjust to take full width of the parent */
  display: flex; /* Flexbox layout */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}
.art {
  width: 100%; /* Full width of the parent */
  max-width: 100%; /* Limit to parent's width */
  display: flex;
  justify-content: center;
}
.forgot-password-art {
  width: 100%; /* Resize image to fit its container */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure it doesn't overflow */
  max-height: 100vh; /* Ensure it doesn't overflow */
}
.desktop-forgot-password {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-13xl) 0px 0px 174px;
  box-sizing: border-box;
  gap: 176px;
  letter-spacing: normal;
}

@media screen and (max-width: 975px) {
  .desktop-forgot-password {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .frame-parent {
    min-width: 100%;
  }

  .login-art-frame {
    min-width: 100%;
  }

  .desktop-forgot-password {
    gap: 88px;
  }
}
@media screen and (max-width: 450px) {
  .desktop-forgot-password {
    gap: 44px;
  }
}
