.bucket {
    height: 100%;
    width: 90%;
    position: absolute;
    right: 0px;
    background-color: rgb(100, 100, 100);
}
 
.title {
    border:.8vw;
    border-style: solid;
    border-color: black;
    position: absolute;
    right: 3%;
    left: 3%;
    background-color: rgb(164, 63, 63);
<<<<<<< Updated upstream:client/src/pages/hub-individual.css
    height: 8%;
    top: 1%
=======
    height: 11%;
    top: 1%;
    display: flex;
>>>>>>> Stashed changes:client/src/css/hub-pages.css
}

.members {
    border:.8vw;
    border-style: solid;
    border-color: black;
    width: 24%;
    height: 84%;
    position: absolute;
    right: 3%;
    background-color: rgb(164, 63, 63);
    top: 13%
}

.overview {
    border:.8vw;
    border-style: solid;
    border-color: black;
    width: 46%;
    height: 62%;
    position: absolute;
    right: 28%;
    background-color: rgb(164, 63, 63);
    top: 13%
}

.links {
    border:.8vw;
    border-style: solid;
    border-color: black;
    width: 46%;
    height: 20%;
    position: absolute;
    right: 28%;
    background-color: rgb(164, 63, 63);
    top: 77%
}

.schedule {
    border:.8vw;
    border-style: solid;
    border-color: black;
    width: 22%;
    height: 42%;
    position: absolute;
    left: 3%;
    background-color: rgb(164, 63, 63);
    top: 55%
}

.notifications {
    border:.8vw;
    border-style: solid;
    border-color: black;
    width: 22%;
    height: 40%;
    position: absolute;
    left: 3%;
    background-color: rgb(164, 63, 63);
    top: 13%
}

/* starting text css */

.cat-header {
    color: rgb(0, 0, 0);
    text-align: left;
    padding-left: 2%;
}

.regular-text {
<<<<<<< Updated upstream:client/src/pages/hub-individual.css
    padding:2%;
=======
    color: rgb(0, 0, 0);
    padding:1%;
>>>>>>> Stashed changes:client/src/css/hub-pages.css
    text-align: left;
}

.hubs-buttons {
    color:black;
    background-color: black;
}