.forgot {
  margin: 0;
}
.span2 {
  font-family: var(--font-zen-kaku-gothic-antique);
}
.span4 {
  font-size: var(--font-size-17xl);
}
.forgot-password-txt-container {
  width: 100%;
}
.forgot-password1 {
  width: 330px;
  height: 127px;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 100%;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  max-width: 100%;
  padding-right: var(--padding-xl);
}
.dont-worry-it-container {
  margin: 0;
  align-self: stretch;
  height: 76px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  line-height: 160%;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.sign-in2 {
  height: 20px;
  width: 65px;
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  line-height: 100%;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.main-button2 {
  cursor: pointer;
  border: none;
  padding: var(--padding-lg) var(--padding-mid) var(--padding-mid);
  background-color: var(--red-gradient);
  align-self: stretch;
  border-radius: var(--br-xs);
  background: linear-gradient(180deg, #720d17, #be2722);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-help {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-dont-worry {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  text-align: left;
  font-family: var(--font-playfair-display);
}
.return-frame-child {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.or1 {
  height: 16px;
  width: 17px;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 100%;
  display: inline-block;
}
.return-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px var(--padding-10xs) 0px 0px;
  gap: var(--gap-mini);
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
}
.login-page {
  color: var(--link);
}
.return-to-the-container {
  height: 29px;
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 160%;
  display: inline-block;
  max-width: 100%;
  cursor: pointer;
}
.main-frame-manager-book {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-52xl) 0px var(--padding-51xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-lg);
}
.frame-dont-worry-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-12xs) var(--padding-78xl) 0px;
  box-sizing: border-box;
  gap: var(--gap-28xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--secondary-text);
  font-family: var(--font-roboto);
}
.the-stage-managers-book-1 {
  height: 133px;
  width: 151px;
  position: relative;
  object-fit: cover;
}
.the-stage-manger-book-rectangl {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-xl);
}
.frame-forgot-password {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--primary-text);
  font-family: var(--font-playfair-display);
}

@media screen and (max-width: 975px) {
  .forgot-password1 {
    font-size: var(--font-size-10xl);
    line-height: 51px;
  }
}
@media screen and (max-width: 700px) {
  .main-frame-manager-book {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-16xl);
    box-sizing: border-box;
  }

  .frame-dont-worry-parent {
    gap: var(--gap-4xl);
    padding-bottom: var(--padding-44xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .forgot-password1 {
    font-size: var(--font-size-3xl);
    line-height: 38px;
  }

  .dont-worry-it-container {
    font-size: var(--font-size-lgi);
    line-height: 31px;
  }

  .sign-in2 {
    font-size: var(--font-size-base);
    line-height: 16px;
  }
}
