@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-playfair-display: "Playfair Display";
  --font-zen-kaku-gothic-antique: "Zen Kaku Gothic Antique";

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --font-size-17xl: 36px;
  --font-size-45xl: 64px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;

  /* Colors */
  --color-white: #fff;
  --link: #1e4ae9;
  --color-darkslategray-100: #294957;
  --secondary-text: #313957;
  --color-whitesmoke: #f3f9fa;
  --color-gainsboro: #cfdfe2;
  --color-lightslategray: #8897ad;
  --color-ghostwhite: #f7fbff;
  --color-lightgray: #d4d7e3;
  --primary-text: #0c1421;

  /* Gaps */
  --gap-base: 16px;
  --gap-29xl: 48px;
  --gap-5xl: 24px;
  --gap-9xl: 28px;
  --gap-5xs: 8px;
  --gap-28xl: 47px;
  --gap-4xl: 23px;
  --gap-mini: 15px;
  --gap-lgi: 19px;
  --gap-smi: 13px;
  --gap-2xs: 11px;

  /* Paddings */
  --padding-13xl: 32px;
  --padding-105xl: 124px;
  --padding-34xl: 53px;
  --padding-62xl: 81px;
  --padding-2xs: 11px;
  --padding-xl: 20px;
  --padding-2xl: 21px;
  --padding-12xs: 1px;
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-mid: 17px;
  --padding-78xl: 97px;
  --padding-44xl: 63px;
  --padding-52xl: 71px;
  --padding-51xl: 70px;
  --padding-16xl: 35px;
  --padding-10xs: 3px;
  --padding-lg: 18px;
  --padding-14xl: 33px;
  --padding-3xl: 22px;
  --padding-4xl: 23px;
  --padding-15xl: 34px;
  --padding-xs: 12px;
  --padding-mini: 15px;
  --padding-lgi: 19px;

  /* Border radiuses */
  --br-5xl: 24px;
  --br-xs: 12px;
}
